.example-wrapper {
    display: flex;
    margin: 20px;
}
.add-margin-top {
    margin-top: 80px;
}
.block-example {
    flex-basis: 40%;
    margin: 0 20px;
}
.header-of-example,
.header-of-form-example {
    font-family: 'Play', sans-serif;
    font-size: 2.5rem;
    color: #f9f9f9;
    text-shadow: 2px 2px #000;
}
.usage-article {
    margin-top: 20px;
}
.usage-article h3 {
    font-family: 'Play', sans-serif;
    font-size: 2rem;
    color: #f9f9f9;
}
.usage-article p {
    margin-top: 5px;
    font-family: 'Play', sans-serif;
    font-size: 1.5rem;
    color: #f9f9f9;
    margin-left: 10px;
    line-height: 30px;
}
.usage-article p span {
    color: #81c564;
    font-weight: bold;
}
.code-block {
    background-color: #17354b;
    font-family: 'Play', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.code-block .elem {
    color: #abffff;
}
.code-block .attr {
    color: #edb316;
}
.code-block .value {
    color: #3ae103;
    font-weight: bold;
}
